{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 | Waly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'><link rel="stylesheet" href="{%  static 'css/404.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="background"></div>
<div class="top">
  <h1>404</h1>
  <h3>Página perdida</h3>
</div>
<div class="container">
  <div class="ghost-copy">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
  </div>
  <div class="ghost">
    <div class="face">
      <div class="eye"></div>
      <div class="eye-right"></div>
      <div class="mouth"></div>
    </div>
  </div>
  <div class="shadow"></div>
</div>
<div class="bottom">
  <p>Boo, un fantasma se robo esta pagina...</p>

  <div class="buttons">
    <a href="{% url 'index' %}">
        <button class="btn">Inicio</button>
    </a>
</div>
</div>


<!-- partial -->

</body>
</html>