{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Inicio | Waly</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{%  static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{%  static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{%  static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{%  static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{%  static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{%  static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{%  static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{%  static 'img/logo.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'inicio' %}"><img src="{%  static 'img/logo2.svg' %}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'inicio' %}"><img src="{%  static 'img/logoMini.svg' %}"alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-settings d-none d-lg-flex">
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>

        <div class="tab-content" id="setting-content">

        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Recursos</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'programas' %}">Programas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'videos' %}">Videos</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'graficas' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Progreso</span>
            </a>
            <div class="collapse" id="charts">
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Actividades Completas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'actividades' %}">Todas</a></li>
              </ul>
            </div>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'empatia' %}">Empatia</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'concentracion' %}">Concentración</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'creatividad' %}">Creatividad</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'emociones' %}">Emociones</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'adaptabilidad' %}">Adaptabilidad</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'gestion' %}">Gestion</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'visual' %}">Visual</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'auditivo' %}">Auditivo</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'memoria_fotografica' %}">Memoria fotográfica</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'practico' %}">Practico</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'lectura_escritura' %}">Lectura/Escritura</a></li>
              </ul>
            </div>
              <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'aprendizaje_logico' %}">Aprendizaje lógico</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Configuracion</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'configuracion' %}"> Informacion Basica </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'preferencias' %}"> Preferencias </a></li>
              </ul>
            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Cerrar sesion</span>
            </a>
            <div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">FAQ</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Bienvenido {{ user.nombre_completo }}</h3>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{% static 'img/dashboard/people.svg' %}" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                      </div>
                      <div class="ml-2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-12 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                      <a href="{% url 'test' %}" style="color: white;">
                        <div class="card-body">
                          <p class="mb-xl-4"> </p>
                          <p class="fs-30 mb-4" style="text-align: center;">Realiza el análisis</p>
                          <p> </p>
                        </div>
                      </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4" style="text-align: center;">Última conexión</p>
                      <p class="fs-30 mb-2" style="text-align: center;">{{ ultimavez|date:"d F Y" }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <a href="{% url 'graficas' %}" style="color: white;">
                      <div class="card-body">
                        <p class="mb-4" style="text-align: center;">Como vamos?</p>
                        <p class="fs-30 mb-2" style="text-align: center;">Progreso</p>
                        <p class="mb-4"></p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">

            </div>
            <div class="col-md-6 grid-margin stretch-card">

            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 mt-3">
                            <p class="card-title">Tu Aprendizaje Perfecto Es:</p>
                              <h3 class="font-weight-500 mb-xl-4 text-primary">{{ max_field }}</h3>
                              <p class="mb-2 mb-xl-0">Este es el aprendizaje en el cual te enfocas mas y debemos de desarollar mas a fondo</p>
                            </div>
                            </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                  <table class="table table-borderless report-table">
                                    <tr>
                                      <td class="text-muted">Visual</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ visual_porcentaje }}%" aria-valuenow={{ visual }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ visual }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Auditivo</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ auditivo_porcentaje }}%" aria-valuenow={{ auditivo }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ auditivo }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Memoria fotográfica</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ memoria_fotografica_porcentaje }}%" aria-valuenow={{ memoria_fotografica }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ memoria_fotografica }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Practico</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ practico_porcentaje }}%" aria-valuenow={{ practico }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ practico }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Lectura/Escritura</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ lectura_escritura_porcentaje }}%" aria-valuenow={{ lectura_escritura }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ lectura_escritura }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Aprendizaje lógico</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ aprendizaje_logico_porcentaje }}%" aria-valuenow={{ aprendizaje_logico }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ aprendizaje_logico }}</h5></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 mt-3">
                            <p class="card-title">Debemos enfocarnos en:</p>
                              <h3 class="font-weight-500 mb-xl-4 text-primary">{{ min_field }}</h3>
                              <p class="mb-2 mb-xl-0">Esto es lo principal que debemos de estudiar y desarollar</p>
                            </div>
                            </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                  <table class="table table-borderless report-table">
                                    <tr>
                                      <td class="text-muted">Empatia</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ empatia_porcentaje }}%" aria-valuenow={{ empatia }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ empatia }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Concentración</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ concentracion_porcentaje }}%" aria-valuenow={{ concentracion }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ concentracion }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Creatividad</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ creatividad_porcentaje }}%" aria-valuenow={{ creatividad }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ creatividad }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Emociones</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: {{ emociones_porcentaje }}%" aria-valuenow={{ emociones }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ emociones }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Adaptabilidad</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ adaptabilidad_porcentaje }}%" aria-valuenow={{ adaptabilidad }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ adaptabilidad }}</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Gestion</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{ gestion_porcentaje }}%" aria-valuenow={{ gestion }} aria-valuemin="0" aria-valuemax="300"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">{{ gestion }}</h5></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">

            </div>
            <div class="col-md-5 grid-margin stretch-card">

          </div>
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">

            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">

                </div>

            <div class="col-md-4 stretch-card grid-margin">
                <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{%  static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{%  static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{%  static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{%  static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{%  static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{%  static 'js/off-canvas.js' %}"></script>
  <script src="{%  static 'js/hoverable-collapse.js' %}"></script>
  <script src="{%  static 'js/template.js' %}"></script>
  <script src="{%  static 'js/settings.js' %}"></script>
  <script src="{%  static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{%  static 'js/dashboard.js' %}"></script>
  <script src="{%  static 'js/Chart.roundedBarCharts.js' %}"></script>
  <script></script>

  <!-- End custom js for this page-->
  <script>
  // Obtener la preferencia de color del localStorage
  const colorPreference = localStorage.getItem('colorPreference');

  // Aplicar la preferencia de color si existe
  if (colorPreference) {
    document.body.classList.add(colorPreference);
  }
  </script>          
</body>

</html>