<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Registro | Waly</title>
  <link rel="stylesheet" href="/static/css/registro.css" />
</head>
<body>
  <section class="container">
    <header>Formulario de registro</header>
    <form action="#" class="form">
      <div class="input-box">
        <label>Nombre completo</label>
        <input type="text" placeholder="Ingresa tu nombre completo" required />
      </div>

      <div class="input-box">
        <label>Correo</label>
        <input type="text" placeholder="Ingresa tu correo electronico" required />
      </div>

      <div class="column">
        <div class="input-box">
          <label>Usuario</label>
          <input type="text" placeholder="Ingresa tu usuario" required />
        </div>
        <div class="input-box">
          <label>Contraseña</label>
          <input type="password" placeholder="Ingresa tu Clave" required />
        </div>
        <div class="input-box">
          <label>Fecha de nacimiento</label>
          <input id="fechaNacimiento" type="date" placeholder="Ingresa tu fecha" required />
        </div>
      </div>
      <div class="gender-box">
        <h3>Genero</h3>
        <div class="gender-option">
          <div class="gender">
            <input type="radio" id="check-male" name="gender" checked />
            <label for="check-male">Masculino</label>
          </div>
          <div class="gender">
            <input type="radio" id="check-female" name="gender" />
            <label for="check-female">Femenino</label>
          </div>
          <div class="gender">
            <input type="radio" id="check-other" name="gender" />
            <label for="check-other">Prefiero no decirlo</label>
          </div>
        </div>
      </div>
      <div class="input-box address" style="display: none;">
        <label>Acudiente</label>
        <input type="text" placeholder="Ingresa el nombre de tu acudiente" required />
        <input type="text" placeholder="Ingresa el correo de tu acudiente" required />
      </div>
      <button>Ingresar</button>
      <br/>
      <p class="register-text">Ya tienes cuenta? <a href="{% url 'login' %}">Unete</a></p>

    </form>
  </section>

  <script>
    document.getElementById("fechaNacimiento").addEventListener("change", function() {
      var fechaNacimiento = new Date(this.value);
      var hoy = new Date();
      var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
      var mes = hoy.getMonth() - fechaNacimiento.getMonth();

      if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
        edad--;
      }

      if (edad < 18) {
        document.querySelector(".input-box.address").style.display = "block";
      } else {
        document.querySelector(".input-box.address").style.display = "none";
      }
    });
  </script>
</body>
</html>
