<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Registro | Waly</title>
  <link rel="stylesheet" href="/static/css/registro.css" />
</head>
<body>
  <section class="container">
    <header>Formulario de registro</header>
    <form action="{% url 'registro' %}" class="form" id="registroForm" method="post">
    {% csrf_token %}
    <div class="input-box">
        <label>Nombre completo</label>
        <input type="text" name="nombre_completo" id="nombre_completo" placeholder="Ingresa tu nombre completo" required />
    </div>

    <div class="input-box">
        <label>Correo</label>
        <input type="email" name="correo" id="correo" placeholder="Ingresa tu correo electrónico" required />
    </div>

    <div class="column">
        <div class="input-box">
            <label>Usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="Ingresa tu usuario" required />
        </div>
        <div class="input-box">
            <label>Contraseña</label>
            <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu clave" required />
        </div>
        <div class="input-box">
            <label>Fecha de nacimiento</label>
            <input id="fechaNacimiento" type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Ingresa tu fecha" required />
        </div>
    </div>

    <div class="gender-box">
        <h3>Género</h3>
        <div class="gender-option">
            <div class="gender">
                <input type="radio" id="check-male" name="genero" value="Masculino" checked />
                <label for="check-male">Masculino</label>
            </div>
            <div class="gender">
                <input type="radio" id="check-female" name="genero" value="Femenino" />
                <label for="check-female">Femenino</label>
            </div>
            <div class="gender">
                <input type="radio" id="check-other" name="genero" value="Prefiero no decirlo" />
                <label for="check-other">Prefiero no decirlo</label>
            </div>
        </div>
    </div>



    <button type="submit">Ingresar</button>
    <br />
    <p class="register-text">¿Ya tienes cuenta? <a href="{% url 'login' %}">Únete</a></p>
</form>

  </section>
  



    <script>
        document.getElementById('correo').addEventListener('input', function (e) {
    e.target.value = e.target.value.toLowerCase();
});
        document.addEventListener('DOMContentLoaded', function () {
            const formulario = document.getElementById('registroForm');
            formulario.addEventListener('submit', function (event) {
                event.preventDefault(); // Evitar que el formulario se envíe automáticamente

                const formData = new FormData(formulario);
                const xhr = new XMLHttpRequest();

                xhr.open('POST', '/registro/');
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

                xhr.onload = function () {
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        alert(response.message);
                        formulario.reset();
                    } else {
                        alert(response.message);
                    }
                };

                xhr.send(formData);
            });
        });
    </script>

</body>
</html>
